*{
    padding: 0;
    margin: 0;  
}
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
.other_header{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    height: 150px;
    background: rgb(0,21,36);
    background: linear-gradient(90deg, rgba(0,21,36,0.896796218487395) 0%, rgba(5,63,83,0.9640231092436975) 41%);
}
.other_logo{
    width: 10em;
    height: 4em;
    
}
.mini-split_title{
    width: 30em;
    height: 5em;
    text-align: center;
    
}
.title_mini_split{
    color: #fff;
    
    font-size: 3em;
}
.contacts_and_time{
    width: 13em;
    height: 5em;
    
}
.double_L{
    display: flex;
    justify-content: space-between;
    width: 5em;
    height: 4em;
   

}
.mini_s_p_container{
    
    min-height: 50em;
    width: 99%;
    margin: 5px;
    border: 1px solid black;
    
    overflow: hidden;
}

.tabs{
    
    width: 96%;
    min-height: 50em;
    padding: 5px 15px;
    
    /*box-shadow: 5px 5px 10px 5px #ccc;*/
    
}
.tabs .tab-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    float: left;
    width: 130px;
    min-height: 90%;
    
    padding: 50px 0px;
}

.tabs .tab-header > div {
    text-align: center;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    border-right: 1px solid rgb(197, 196, 196);
    
}
.tabs .tab-header > div:hover,
.tabs .tab-header > div.active{
    color: #00acee;
}
.tabs .tab-content{
    
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 50em;
    
}


.tabs .tab-content > div {
    position: absolute;
    text-align: center;
    margin-left: 10px;
    width: 98%;
    min-height: 40em;
    
    top: -350%;
    transition: all 500ms ease-in-out;
}
.tabs .tab-content > div.active{
    position: relative;
    min-height: 38em;
    top: 0px;
}
.brand{
    width: 100px;
}
.brand:hover{
    box-shadow: 0 0 20px 1px #638da6;
}
.brend_blocks{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 38em;
    
}
.card{
    display: flex;
    width: 364px;
    height: 225px;
    background: #fff;
    border-radius: 5px;
    margin: 5px;
    border: 0.1px solid rgb(8, 173, 8);
    
    cursor: pointer;

}
.card:hover{
    box-shadow: 0 0 5px 1px #638da6;
}
.foto_brand{
    width: 150px;
    height: 150px;
    margin: 5px;
    
}
.size_foto{
    width: 150px;
    height: 150px;
}
.description{
    text-align: start;
    width: 195px;
    height: 220px;
    
}
.price_case{
    display: flex;
    margin: 5px;
}
.price_word{
    font-size: 16px;
    font-weight: 600;
}
.price_digit{
    color: rgb(8, 173, 8);
    font-size: 16px;
    font-weight: 600;
}
.dump_word{
    margin: 5px;
}
.model{
    margin: 5px;
}
.warranty{
    font-weight: 600;
    font-size: 14px;
    margin: 5px;
}
.p_descr{
    font-size: 14px;
    margin: 5px;
}