*{
    padding: 0;
    margin: 0;  
}
body{
    width: 100%;
}
.header{
    display: flex;
    width: 100%;
    height: 100%;
}
button:hover{
    box-shadow: 0 0 12px #fff;
}
.header_image{
    position: relative;
    width: 100%;
}
.header_head{
    display: flex;
    position: absolute;
    justify-content: space-between;
    

    width: 100%;
    height: 30%;
    
}

.left_head{
    display: flex;
    justify-content: space-between;
    
    width: 32%; 
    height: 70%;
     
}

.right_head{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    
    width: 27%;
    height: 100%;
    margin-right: 5%;   
}
.require_text {
    width: 250px;
    font-size: 12px;
    font-weight: 550;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 22px;
    padding-top: 14px;
    line-height: 1.5em;
}

.logo{
    width: 160px;
    margin-left: 30px;
    padding-top: 40px;
}
#logo{
    width: 160px;
}


.tel_gusi{
    width: 220px;
    height: 30px;
    
    font-size: 23px;
}
.tel_koliki{
    width: 220px;
    height: 30px;
    
    font-size: 23px;
}
.tel_koliki a {
    text-decoration: none;
    color: white ;
}

.tel_gusi a{
    text-decoration: none;
    color: white ;
}
.time{
    color: white;
    width: 220px;
    height: 25px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}
.time_block{
    width: 220px;
    height: 26px;
}
.top_button{
    position: absolute;
    
    width: 200px;
    height: 32px;
    background-color: #ece646;
    border: none;
    outline: none;
    
    font-weight: 900;
    z-index: 3;
}
.top_button:focus{
    outline: none;
}

.header_text{
    position: absolute;
    
    font-size: 43px;
    font-weight: bolder;
    padding-left: 20%;
    padding-top: 19%;
    color: #fff;
    line-height: 1.39;
    letter-spacing: 0.001px;
}

.require_box {
    position: absolute;
    width: 192px;
    height: 221px;
    background-color: #fff;
    border: none;
    margin-left: 73%;
    margin-top: 36%;
    display: flex;
    flex-direction: column;
}
.require_box button:hover{
    box-shadow: 0 0 12px #4CD9DB;
}


.name_input {
    width: 160px;
    height: 30px;
    margin-left: 16px;
    border: 1px solid lightblue;
    outline: none;
    padding-left: 10px;
}
.phone_input{
    margin-top: 21px;
    width: 160px;
    height: 30px;
    margin-left: 16px;
    border: 1px solid lightblue;
    outline: none;
    padding-left: 10px;
}
.require_button{
    margin-top: 24px;
    margin-bottom: 15px;
    width: 159px;
    height: 26px;
    margin-left: 16px;
    background-color: #053f53;
    color: #fff;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 14px;
}




.left_head_S{
    width: 32%; 
    height: 70%;
    padding-left: 10%;
}
.header_text_S{
    position: absolute;
    
    font-size: 43px;
    font-weight: bolder;
    padding-left: 42%;
    padding-top: 19%;
    color: #fff;
    line-height: 1.39;
    letter-spacing: 0.001px;
}

.second_page_container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(159, 194, 235);


    
}
.container{
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
    width: 100%;
    min-height: 85vh;
    background: #fff;
    border-radius: 12px;
    margin: 0 20px;
    padding: 40px 50px 40px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.filter_brends{
    min-height: 300px;
    width: 20%;
    border: 1px solid red;
}
.content_filter{
    min-height: 300px;
    width: 78%;
    border: 1px solid red;
}







.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 310px;
    background-color: #053f53;
    
}

.left_foot{
    
    width: 400px;
    height: 200px; 
    margin-left: 7%;
}

.right_foot{
    
    width: 300px;
    height: 250px;
    margin-right: 7%;
    
}

.left_foot_p{
    
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
    font-size: 20px;
}


.right_foot_h2{
    
    color: #fff;
    font-weight: 500;
    
}

.r_f_adress{
    
    color: #fff;
    font-weight: 500;
}
.r_f_website{
    
    color: #fff;
    font-weight: 500;
}
.tel_f a{
    text-decoration: none;
    color: white ;
}

.footer_logo{
    width: 153px;
    margin-bottom: 10px;
}

.contacts_icons img{
    width: 65px;
}
.r_f_adress{
    margin-top: 27px;
    letter-spacing: 0.7px;
}

.r_f_website{
    margin-top: 22px;
}
